@{
    ViewData["Title"] = "Match Text";
}

@model MatchText.Models.MatchTextModel

<div class="row">
    <div class="col-md-8">
        <section id="matchText">
            <form class="p-a-1" asp-action="Index" method="post">
                <h4>Click the Find Matches Button to get all matching indexs</h4>
                <div class="form-group">
                    <label asp-for="Matches">Matching Indexs</label>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Matches, new {@class = "form-control",})
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Text">Main Text</label>
                    <textarea class="form-control" asp-for="Text" placeholder="Enter main text"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubText">Sub Text</label>
                    <textarea class="form-control" asp-for="SubText" placeholder="Enter text to match"></textarea>
                    <span asp-validation-for="SubText" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Find Matches
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>